#container {
  padding-left: calc((100% - 1600px)/2);
  padding-right: calc((100% - 1600px)/2);
  width: 100%;
  overflow: auto;
  /*padding-bottom: 40px;*/
}

#menu-icon {

	display: none;
  height: 30px;
  width: 30px;
  margin: 20px 20px 20px 20px;

}

#headshot {
  float: left;
  padding-right: 70px;
  padding-left:  70px;
  padding-top: 6px;
  padding-bottom: 30px;
  max-width: calc(49%);
}

a.navi {
  font-family: "Rubik Bold", "Rubik" !important;
  font-weight: 700;
}

.w3-half, .fullScrn, .w3-third {margin: 0px 0px 40px 0px;}

div.homeLink {margin-bottom: 20px;}

/*.halfScrn {
  width: 45%;
  padding-top: 130%;
  max-width: 500px;
  max-height: 675px;
  display: inline-block;
  margin: 40px 0px 100px 20px;
  position: relative;
}*/

.fullScrn {
  width: 100%;

  display: inline-block;
  position: relative;
  float: left;
}

.tilePic {
  max-width: calc(100% - 7px);
  max-height: 100%;
  display: block;
  /*position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;*/
}

.left {
  padding-right: 20px;
}

.right {
  padding-left: 20px;
}

.center {
  padding-right: 10px;
  padding-left: 10px;
}

.standardBox {
  /* height: 40%; */
  height: auto;
  width: calc(50% - 20px);
  /* margin-right: 7px; */
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 780px;
}

.standardBox.menu {
  width: calc(50% - 27px);
  height: auto;
  margin-bottom: 35px;
  position: relative;
}

.menuTitle {
  position: absolute;
  top: 5px;
  left: 16px;
  color: white;
}

.slideBox {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddedPic {
  max-width: 100%;
  /* max-height: 100%; */
  max-height: 780px;

}

.photo-slide {
  max-width: 93%;
  max-height: 93%;
}

.evenRow {
  display: flex;
  height: auto;
  width: calc(100% - 7px);
  justify-content: space-between;
  /* align-items: flex-start; */
  align-items: center;
  flex-wrap: wrap;
}

.evenRow.menu {
  width: 100%;
}


.shirts {
  display: flex;
  height: auto;
  /* width: 100%; */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.flex {
  margin-bottom: 30px;
}

.flexText {
  width: calc(50% - 20px);
}

.flexSmall {
  margin-bottom: 30px;
}

.evenRowText {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2.flexText {
  font-weight: 700;
  padding-left: 0px;
  margin-top: 0px;
  text-align: center;
}

.slideFlex {
  margin-bottom: 0px;
}

.categories {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  width: 30%;
}

.description {
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  width: calc(60% - 10px);
}

.nextProj {
  text-decoration: underline;
  text-align: center;
}

a h3 {
  margin-bottom: 30px !important;
}

h1.pageTitle {
  margin: 10px 20px 20px 20px;
  margin-top: 20px !important;
  font-size: 60px;
  text-align: left;
  line-height: 1;
}

.mobile {
  display: none;
}

.notMobile {

}

.carbonCalc {
  width: 700px;
  height: 475px;
}

.about {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: justify !important;
  hyphens: auto;
}

.email {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500 !important;
  font-family: "Rubik Bold", "Rubik" !important;
}

.halfColumn {
  float: left;
  width: 50%;
}

header {
  margin-top: 20px;
  width: calc(100% - 7px);
  height: 70px;
  vertical-align: middle;
}

#title {
  padding-left: 15px;
  float: left;
  font-style: normal;
  margin-top: 8px !important;
  font-family: "Rubik Black", "Rubik" !important;
  font-weight: 900 !important;
}

.foot {
  margin: 0px 0px 27px 0px !important;
  width: calc(100% - 7px) !important;
}

nav {
  float: right;
  margin-right: 20px;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  line-height: 20px;
}

a:hover, #title:hover {
  text-decoration: underline;
}

#content {
  min-height: calc(72vh);
}

.foot {
  clear: both;
  width: 98%
  margin-bottom: 40px;
}

h1, h2, h3, h4 {
  letter-spacing: 0px;
  color: #2e2e2e;
}

h1 {
  text-align: center;
  font-family: "Rubik" !important;
  font-weight: 500 !important;
  margin-top: 0px !important;
}

h2 {
  font-family: "Rubik" !important;
  font-weight: 500 !important;
  padding-left: 20px;

}

h3 {
  margin: 40px 0px 40px 0px;
  padding-left: 10px;
  font-family: "Rubik" !important;
  font-weight: 400 !important;

}

h4 {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px !important;
  font-size: 24px !important;
  font-family: "Rubik" !important;
  font-weight: 400 !important;
}

p {
  text-align: left;
  margin: 0px 0px 0px 0px;
  font-family: "Rubik", Sans-Serif !important;
  font-weight: 400;
  font-size: 18px;
  /* margin-bottom: 10px; */
}

a {
  text-decoration: none;
  color: blue;

}


.melloShadow {
  /* box-shadow: 0px 0px 20px #adadad; */
  border: 1px solid black;
  background-color: white;
}

header, .foot, .darkShadow {
  box-shadow: 7px 7px #404040;
  border: 1px solid black;
}

.darkShadow {
  /* for animations */
  box-shadow: 7px 7px #404040;
  padding: 0px;
  transition: .7s;
  margin-right: 7px;
  margin-bottom: 7px;
}

li {

	display: inline-block;
	float: left;
	padding: 10px;
  font-family: "Rubik" !important;
}

.line {
  border-top: 1px solid black;
  margin-bottom: 10px;
  margin-right: 5px;
}

.text {
  padding: 10px;
  margin-right: 7px;
  margin-bottom: 27px;
}



/* social icons */

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}




/*MEDIA QUERY*/
@media screen and (max-width : 1200px) {

  /* .standardBox {
    width: calc(50% - 10px);
    height: auto;
  } */

}


@media screen and (max-width : 1140px) {


  .standardBox.menu {
    width: calc(50% - 20px);
  }


  .about {
    font-size: 16px !important;
  }

  h2.about {
    font-size: 24px !important;
  }

  #headshot {
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media screen and (max-width : 1680px) {

  #container {
    padding-right: 40px;
    padding-left: 40px;
  }
}


@media only screen and (max-width : 840px) {

  #menu-icon {

    float: right;
		display: block;

	}

  nav {
    margin-right: 0px;
  }

	nav ul, nav:active ul {

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 1px solid #000;
		right: 20px;
		top: 20px;
		width: 120px;
    text-align: left;
    z-index: 999999;
    margin-right: 12px;

	}

  li {
    text-align: left;
  }

	nav:hover ul {

		display: block;

	}

  #masonry {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .about {
    font-size: 16px !important;
    text-align: left !important;
    /* text-justify: none; */
    hyphens: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .halfColumn {
    width: 100%;
  }

  #headshot {
    float: none;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .standardBox {
    height: auto !important;
  }

  .evenRow {
    align-items: center;
  }

  .flexText {
    width: 100% !important;
  }

}

@media screen and (max-width : 740px) {

  /* .photo-slide {
    width: 95% !important;
    height: auto !important;
  } */
  .carousel {
    margin: 0 0 30px 0 !important;
    height: 70vw !important;
  }

  .slideBox {
    height: 70vw;
  }

  .photo-slide {
    max-width: 100%;
    max-height: 93%;
  }

  #container {
    padding-right: 15px;
    padding-left: 15px;
  }


}

@media screen and (max-width : 600px) {

  #title {
    font-size: calc(3.8vw + 10px);
    /* padding-top: .5vw; */
    line-height: 53px;
  }

  h1.pageTitle {
    font-size: 48;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .shirts .evenRow {
    width: 100% !important;
    margin-right: 0px !important;
  }

  .standardBox {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }

  .standardBox.menu {
    height: auto !important;
  }

  .flex {
    width: 100% !important;
    margin-bottom: 30px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .categories {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 0px;
  }


  h2.flexText {
    text-align: left;
  }

  .flexSmall {
    width: 70% !important;
    margin: auto;
  }


  .video {
    padding-top: 56.25% !important;
  }

  .tilePic {
    max-width: 100%;
  }

  .tilePic.darkShadow {
    max-width: calc(100% - 15px);
  }

  .evenRow {
    width: 100%;
  }


  /* .photo-slide {
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  } */

  .left {
    padding-right: 0px;
  }

  .right {
    padding-left: 0px;
  }

  .mobile {
    display: flex;
  }

  .notMobile {
    display: none;
  }

  .desktopUI {
    border-radius: 5px !important;
  }

  .email {
    font-size: 20px;
  }

  .carbonCalc {
    width: 100%;
    height: 675px;
    border: 0 !important;
  }

  #activate {font-size: 20px !important;}

  #masonry {
    -webkit-column-count: 1 !important;
    -moz-column-count:    1 !important;
    column-count:         1 !important;
    column-gap:           0px !important;
  }

}

@media screen and  (max-width: 450px) {

  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width : 355px) {

  #title {
    font-size: calc(5vw);
  }

}


/* ----  animations: ---- */

@keyframes example {
  from {box-shadow: 7px 7px #404040;}
  to {box-shadow: 0px 0px #2e2e2e;}
}

div.darkShadow:hover {
  /* animation-name: example;
  animation-duration: .7s;
  animation-timing-function: linear; */
  box-shadow: 0px 0px #2e2e2e;
  transform:scale(.99);
}



/* ------- for masonry ------- */

#masonry {
  /* Prevent vertical gaps */
  -webkit-column-count: 2;
  -webkit-column-gap:   40px;
  -moz-column-count:    2;
  -moz-column-gap:      40px;
  column-count:         2;
  column-gap:           40px;
  padding-bottom:       40px;
  padding-left: 100px;
  padding-right: 100px;
}

#masonry .gallery {
  /* Just in case there are inline attributes*/
  width: 100% !important;
  height: auto !important;
  margin-bottom: 50px !important;
  transform: translateZ(0);
}
