<footer class="site-footer h-card">



  <div class="ticker-container">
    <div class="ticker-content">
      <ul class="ticker-list">
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
        <li class="ticker-item">© Noah Schwadron 2023</li>
      </ul>
    </div>
  </div>


    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <script src="assets/code.js"></script>
  
</footer>
  