

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link rel="icon" href="favicon.ico" type="image/ico"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="assets/js/general.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body>

    <div class="fullBleedHeddr">

      <div id="headerBox"></div> <!-- expands to full width when you scroll, header itself doesnt -->

      <header>

        <a href="index"><h1 id="title">Noah <span class="notMobile">Schwadron</span></h1></a>

        <nav>
          <button id="menuButton"
                  onclick="menuButton();">
            <img id="menu-icon" src="assets/menu-icon.svg">
          </button>

          <ul id="navList">
            <li><a id="work" class="navi" href="index">work</a></li>
            <li><a id="info" class="navi" href="about">info</a></li>
          </ul>
        </nav>

      </header>

    </div>


    {{ content }}


    <div class="fullBleed">
      <div class="container" style="border-top: 1px solid black;">

        <div class="foot">


            <div>
              <a href="mailto:noah.schwadron@gmail.com" target="_blank" class="noUl">
                <h3 class="button email darkShadow" style="">
                  email me
                </h3>
              </a>
            </div>


          <div>
            <a href="https://www.instagram.com/bran_nu_boy/" target="_blank" class="fa fa-2x fa-instagram"></a>
            <a href="https://www.linkedin.com/in/nschwadron/" target="_blank" class="fa fa-2x fa-linkedin"></a>
            <!-- <a href="mailto:noah.schwadron@gmail.com" target="_blank" class="fa fa-2x fa-envelope"></a> -->
          </div>

        </div>


      </div>
    </div>


  </body>
</html>
