

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link rel="icon" href="favicon.ico" type="image/ico"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body>

    <div class="container fullBleedHeddr">

      <header>

        <a href="index.html"><h1 id="title">NOAH SCHWADRON</h1></a>

        <nav>

          <img id="menu-icon" src="assets/menu-icon.svg">

          <ul>
            <li><a id="work" class="navi" href="index.html">work</a></li>
            <li><a id="info" class="navi" href="about.html">info</a></li>
          </ul>

        </nav>

      </header>

    </div>


    {{ content }}


    <div class="fullBleed">
      <div class="container" style="border-top: 1px solid black;">

        <div class="foot">
          <div style="width: 5px; height: 20px; display: inline-block;"></div>
          <a href="https://www.instagram.com/bran_nu_boy/" target="_blank" class="fa fa-2x fa-instagram"></a>
          <a href="https://www.linkedin.com/in/nschwadron/" target="_blank" class="fa fa-2x fa-linkedin"></a>
          <a href="mailto:noah.schwadron@gmail.com" target="_blank" class="fa fa-2x fa-envelope"></a>
        </div>


      </div>
    </div>


  </body>
</html>
