---
layout: default
---



<img src="assets/fonts/arrow_back_FILL0_wght400_GRAD0_opsz48.svg" class="custom-cursor" id="customCursorLeft" />
<img src="assets/fonts/arrow_forward_FILL0_wght400_GRAD0_opsz48.svg" class="custom-cursor" id="customCursorRight" />

    
{% for project in site.data.projects %}
    <div class="grid-container home-project">
        <div class="carousel" id="{{ project.id }}">
            <div class="carousel-container" onmouseover="updateCursorPosition(event)" onmousemove="updateCursorPosition(event)" onmouseleave="hideCustomCursor()">
                {% for image in project.images %}
                <div class="slide">
                    {% if image contains '.mp4' %}
                            <video class="carousel-video" src="{{ image }}" type="video/mp4" playsinline="" muted="" autoplay="" loop=""></video>
                    {% else %}
                            <img src="{{ image }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="project-info">
            <div class="description">
                <h2 class="project-title">{{ project.name }}</h2>
                {% if project.year or project.categories %}
                    <div class="project-tags">{{ project.year }}<br>{% if project.year and project.categories %}{% endif %}{{ project.categories }}</div>
                {% endif %}
                {% if project.description %}
                    <p>{{ project.description }}</p>
                {% endif %}
                {% if project.subdescriptions %}
                    <div id="subdescription-container">
                    {% for subdescription in project.subdescriptions %}
                        <div class="subdescription">
                            <h4 class="subtitle">{{ subdescription.title }}</h4>
                            <p class="smallP">{{ subdescription.description }}</p>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            </div>
            <div class="carousel-indicator">
                <span class="current-slide">1</span>/<span class="total-slides"></span>
            </div>        
        </div>
    </div>
    <hr>
{% endfor %}
            
    
    



    {{ content }}

{% include ticker.html %}



