---
layout: default
---


    
{% for project in site.data.projects %}
    <div class="grid-container home-project">
        <div class="carousel">
            <div class="carousel-container">
                {% for image in project.images %}
                <div class="slide">
                    {% if image contains '.mp4' %}
                            <video class="carousel-video" src="{{ image }}" type="video/mp4" playsinline="" muted="" autoplay="" loop=""></video>
                    {% else %}
                            <img src="{{ image }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <!-- <div class="carousel-nav">
                <div class="carousel-nav-indicator"></div>
            </div> -->
        </div>
        <div class="project-info">
            <div class="description">
                <h2 class="project-title">{{ project.name }}</h2>
                {% if project.year or project.categories %}
                    <div class="project-tags">{{ project.year }}<br>{% if project.year and project.categories %}{% endif %}{{ project.categories }}</div>
                {% endif %}
                {% if project.description %}
                    <p>{{ project.description }}</p>
                {% endif %}
            </div>
            <div class="carousel-indicator">
                <span class="current-slide">1</span><span class="smallspace"> </span>/<span class="smallspace"> </span><span class="total-slides"></span>
            </div>        
        </div>
    </div>
    <hr>
{% endfor %}
            
    
    



    {{ content }}

{% include ticker.html %}



