---
layout: default
---


    
{% for project in site.data.projects %}
    <div class="grid-container">
        <div class="carousel">
            <div class="carousel-container">
                {% for image in project.images %}
                    {% if image contains '.mp4' %}
                        <div class="slide">
                            <video class="carousel-video" src="{{ image }}" type="video/mp4" playsinline="" muted="" autoplay="" loop=""></video>
                        </div>
                    {% else %}
                        <div class="slide">
                            <img src="{{ image }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-nav">
                <div class="carousel-nav-indicator"></div>
            </div>
        </div>
        <div class="project-info">
            <div class="description">
                <h2 class="project-title">{{ project.name }}</h2>
                <div class="project-tags">{{ project.year }}, {{ project.categories }}</div>
                <p>{{ project.description }}</p>
            </div>
            <div class="carousel-indicator">
                <span class="current-slide">1</span>/<span class="total-slides"></span>
            </div>        
        </div>
    </div>
    <hr>
{% endfor %}
            
    
    



    {{ content }}

{% include ticker.html %}



