---
layout: default
---


<div class="wrapper">
    <div class="grid-container">
        <div style="grid-column: 9 / span 4;">
            <p>
                <!--Noah is an equally left & right brained designer whose work ranges from creative code to websites and brand identities. He attended Parsons School of Design and lives in Brooklyn, NY. When he’s not designing, he’s gardening, listening to NTS Radio, or finding an excuse to go to Home Depot.-->

                Noah is an equally left & right brained designer whose work ranges from creative code to websites and brand identities. He's currently working at <a class="" href="https://cotton.design/" target="_blank">Cotton</a> and living in Brooklyn, NY. When he’s not designing, he’s gardening, watching hockey, listening to NTS Radio, or finding an excuse to go to Home Depot.
            </p>

            <h3 class="pill">Work</h3>
            <ul class = "project-tags">
                <li>Designer — Cotton Design <span class="smallNote">2024</span></li>
                <li>Intern — Cotton Design <span class="smallNote">2023</span></li>
            </ul>

            <h3 class="pill">Education</h3>
            <ul class = "project-tags">
                <li>Parsons School of Design — AAS Communication Design</li>
                <li>University of Colorado — BA Environmental Studies & Computer Science</li>
            </ul>

            <h3 class="pill">Recognition</h3>
            <ul class = "project-tags">
                <li>Young Ones Silver — Branding <span class="smallNote">2024</span></li>
            </ul>
            <h3 class="pill">Contact</h3>
            <ul class = "project-tags">
                <li>noah.schwadron@gmail.com</li>
                <li><a href="https://www.instagram.com/noah_oclock_/" target="_blank">instagram</a></li>
                <li><a href="https://www.linkedin.com/in/nschwadron/" target="_blank">linkedin</a></li>
                <li><a href="https://www.are.na/noah-schwadron" target="_blank">are.na</a></li>
            </ul>

            <!-- <p style="line-height: 150%; margin-top: .3rem;">
                <a class="infoLinks" href="mailto:noah.schwadron@gmail.com">email</a><br>
                <a class="infoLinks" href="https://www.instagram.com/noahpics_900/" target="_blank">instagram</a><br>
                <a class="infoLinks" href="https://www.linkedin.com/in/nschwadron/" target="_blank">linkedin</a><br>
                <a class="infoLinks" href="https://www.are.na/noah-schwadron" target="_blank">are.na</a>
            </p> -->
        </div>
    </div>
</div>